# Udacity - Medium Blog - Seattle AirBnB Data Analysis
_____________________________

## CRISP DM
* Business understanding – What does the business need?
* Data understanding – What data do we have / need? Is it clean?
* Data preparation – How do we organize the data for modeling?
* Modeling – What modeling techniques should we apply?
* Evaluation – Which model best meets the business objectives?
* Deployment – How do stakeholders access the results?

The following Airbnb activity is included in this Seattle dataset:

* Listings, including full descriptions and average review score
* Reviews, including unique id for each reviewer and detailed comments
* Calendar, including listing id and the price and availability for that day

### Business Understanding

1. What are the monthly demands for AirBnB? Which month is the most popular?
2. What are the list of most common amenities provided?
3. Which neigborhood has the most Airbnb's listing?

### Data Understanding

In [48]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Load Seattle AirBnB data
listings = pd.read_csv("Seattle Airbnb Open Data/listings.csv")
calendar = pd.read_csv("Seattle Airbnb Open Data/calendar.csv")

# Get data size
print("listings: {}, calendar: {}".format(listings.shape, calendar.shape))

listings: (3818, 92), calendar: (1393570, 4)

In [47]:
# Amount of missing data in listings
listings.isnull().sum().sort_values(ascending=False)

license                             3818
square_feet                         3721
monthly_price                       2301
security_deposit                    1952
weekly_price                        1809
notes                               1606
neighborhood_overview               1032
cleaning_fee                        1030
transit                              934
host_about                           859
host_acceptance_rate                 773
review_scores_accuracy               658
review_scores_checkin                658
review_scores_value                  656
review_scores_location               655
review_scores_cleanliness            653
review_scores_communication          651
review_scores_rating                 647
reviews_per_month                    627
first_review                         627
last_review                          627
space                                569
host_response_time                   523
host_response_rate                   523
neighbourhood                        416
xl_picture_url                       320
thumbnail_url                        320
medium_url                           320
host_neighbourhood                   300
summary                              177
                                    ...
availability_60                        0
availability_90                        0
availability_365                       0
number_of_reviews                      0
minimum_nights                         0
requires_license                       0
jurisdiction_names                     0
instant_bookable                       0
cancellation_policy                    0
require_guest_profile_picture          0
require_guest_phone_verification       0
maximum_nights                         0
extra_people                           0
neighbourhood_group_cleansed           0
calculated_host_listings_count         0
city                                   0
state                                  0
market                                 0
smart_location                         0
country_code                           0
country                                0
longitude                              0
guests_included                        0
is_location_exact                      0
room_type                              0
accommodates                           0
bed_type                               0
amenities                              0
price                                  0
id                                     0
Length: 92, dtype: int64

In [40]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 92 columns):
id                                  3818 non-null int64
listing_url                         3818 non-null object
scrape_id                           3818 non-null int64
last_scraped                        3818 non-null object
name                                3818 non-null object
summary                             3641 non-null object
space                               3249 non-null object
description                         3818 non-null object
experiences_offered                 3818 non-null object
neighborhood_overview               2786 non-null object
notes                               2212 non-null object
transit                             2884 non-null object
thumbnail_url                       3498 non-null object
medium_url                          3498 non-null object
picture_url                         3818 non-null object
xl_picture_url                      3498 non-null object
host_id                             3818 non-null int64
host_url                            3818 non-null object
host_name                           3816 non-null object
host_since                          3816 non-null object
host_location                       3810 non-null object
host_about                          2959 non-null object
host_response_time                  3295 non-null object
host_response_rate                  3295 non-null object
host_acceptance_rate                3045 non-null object
host_is_superhost                   3816 non-null object
host_thumbnail_url                  3816 non-null object
host_picture_url                    3816 non-null object
host_neighbourhood                  3518 non-null object
host_listings_count                 3816 non-null float64
host_total_listings_count           3816 non-null float64
host_verifications                  3818 non-null object
host_has_profile_pic                3816 non-null object
host_identity_verified              3816 non-null object
street                              3818 non-null object
neighbourhood                       3402 non-null object
neighbourhood_cleansed              3818 non-null object
neighbourhood_group_cleansed        3818 non-null object
city                                3818 non-null object
state                               3818 non-null object
zipcode                             3811 non-null object
market                              3818 non-null object
smart_location                      3818 non-null object
country_code                        3818 non-null object
country                             3818 non-null object
latitude                            3818 non-null float64
longitude                           3818 non-null float64
is_location_exact                   3818 non-null object
property_type                       3817 non-null object
room_type                           3818 non-null object
accommodates                        3818 non-null int64
bathrooms                           3802 non-null float64
bedrooms                            3812 non-null float64
beds                                3817 non-null float64
bed_type                            3818 non-null object
amenities                           3818 non-null object
square_feet                         97 non-null float64
price                               3818 non-null object
weekly_price                        2009 non-null object
monthly_price                       1517 non-null object
security_deposit                    1866 non-null object
cleaning_fee                        2788 non-null object
guests_included                     3818 non-null int64
extra_people                        3818 non-null object
minimum_nights                      3818 non-null int64
maximum_nights                      3818 non-null int64
calendar_updated                    3818 non-null object
has_availability                    3818 non-null object
availability_30                     3818 non-null int64
availability_60                     3818 non-null int64
availability_90                     3818 non-null int64
availability_365                    3818 non-null int64
calendar_last_scraped               3818 non-null object
number_of_reviews                   3818 non-null int64
first_review                        3191 non-null object
last_review                         3191 non-null object
review_scores_rating                3171 non-null float64
review_scores_accuracy              3160 non-null float64
review_scores_cleanliness           3165 non-null float64
review_scores_checkin               3160 non-null float64
review_scores_communication         3167 non-null float64
review_scores_location              3163 non-null float64
review_scores_value                 3162 non-null float64
requires_license                    3818 non-null object
license                             0 non-null float64
jurisdiction_names                  3818 non-null object
instant_bookable                    3818 non-null object
cancellation_policy                 3818 non-null object
require_guest_profile_picture       3818 non-null object
require_guest_phone_verification    3818 non-null object
calculated_host_listings_count      3818 non-null int64
reviews_per_month                   3191 non-null float64
dtypes: float64(17), int64(13), object(62)
memory usage: 2.7+ MB

In [41]:
calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1393570 entries, 0 to 1393569
Data columns (total 4 columns):
listing_id    1393570 non-null int64
date          1393570 non-null object
available     1393570 non-null object
price         934542 non-null object
dtypes: int64(1), object(3)
memory usage: 42.5+ MB

In [27]:
reviews

         listing_id        date available   price
0            241032  2016-01-04         t  $85.00
1            241032  2016-01-05         t  $85.00
2            241032  2016-01-06         f     NaN
3            241032  2016-01-07         f     NaN
4            241032  2016-01-08         f     NaN
5            241032  2016-01-09         f     NaN
6            241032  2016-01-10         f     NaN
7            241032  2016-01-11         f     NaN
8            241032  2016-01-12         f     NaN
9            241032  2016-01-13         t  $85.00
10           241032  2016-01-14         t  $85.00
11           241032  2016-01-15         f     NaN
12           241032  2016-01-16         f     NaN
13           241032  2016-01-17         f     NaN
14           241032  2016-01-18         t  $85.00
15           241032  2016-01-19         t  $85.00
16           241032  2016-01-20         t  $85.00
17           241032  2016-01-21         f     NaN
18           241032  2016-01-22         f     NaN
19           241032  2016-01-23         f     NaN
20           241032  2016-01-24         t  $85.00
21           241032  2016-01-25         t  $85.00
22           241032  2016-01-26         t  $85.00
23           241032  2016-01-27         t  $85.00
24           241032  2016-01-28         t  $85.00
25           241032  2016-01-29         f     NaN
26           241032  2016-01-30         f     NaN
27           241032  2016-01-31         f     NaN
28           241032  2016-02-01         t  $85.00
29           241032  2016-02-02         t  $85.00
...             ...         ...       ...     ...
1393540    10208623  2016-12-04         f     NaN
1393541    10208623  2016-12-05         f     NaN
1393542    10208623  2016-12-06         f     NaN
1393543    10208623  2016-12-07         f     NaN
1393544    10208623  2016-12-08         f     NaN
1393545    10208623  2016-12-09         f     NaN
1393546    10208623  2016-12-10         f     NaN
1393547    10208623  2016-12-11         f     NaN
1393548    10208623  2016-12-12         f     NaN
1393549    10208623  2016-12-13         f     NaN
1393550    10208623  2016-12-14         f     NaN
1393551    10208623  2016-12-15         f     NaN
1393552    10208623  2016-12-16         f     NaN
1393553    10208623  2016-12-17         f     NaN
1393554    10208623  2016-12-18         f     NaN
1393555    10208623  2016-12-19         f     NaN
1393556    10208623  2016-12-20         f     NaN
1393557    10208623  2016-12-21         f     NaN
1393558    10208623  2016-12-22         f     NaN
1393559    10208623  2016-12-23         f     NaN
1393560    10208623  2016-12-24         f     NaN
1393561    10208623  2016-12-25         f     NaN
1393562    10208623  2016-12-26         f     NaN
1393563    10208623  2016-12-27         f     NaN
1393564    10208623  2016-12-28         f     NaN
1393565    10208623  2016-12-29         f     NaN
1393566    10208623  2016-12-30         f     NaN
1393567    10208623  2016-12-31         f     NaN
1393568    10208623  2017-01-01         f     NaN
1393569    10208623  2017-01-02         f     NaN

[1393570 rows x 4 columns]